---
layout: full-width
---
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-4">
      <div class="card" id="profile-card">
        <a href="/">
          <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img" />
        </a>
        <h1 class="profile-name">{{ site.title }}</h1>
        <p class="profile-bio">{{ site.subtitle }}</p>

        <h6>
          <i class="fas fa-map-marker-alt"></i> {{ site.author_location }}
        </h6>
        <h6>
          <i class="fas fa-envelope"></i> {{ site.author_email }}
        </h6>
        <h6>
          <i class="fas fa-link"></i> <a href="{{ site.author_website_url }}"> {{ site.author_website_url }} </a>
        </h6>

        <br />

        <h6>
          <i class="fab fa-github"></i> Personal: <a href="https://github.com/{{ site.github_username }}"> {{
            site.github_username }} </a>
        </h6>
        <h6>
          <i class="fab fa-github"></i> Pseudonym: <a href="https://github.com/{{ site.pseudonym_github_username }}"> {{
            site.pseudonym_github_username }} </a>
        </h6>

      </div>

      <div class="card">
        <h1 class="card-title">About</h1>
        <p>{{ site.author_bio }}</p>
      </div>

      <div class="card">
        <h1 class="card-title">Language Skills</h1>

        <ul>
          {% for exp in site.language_skills %}
          <li> {{ exp.skill }} </li>
          {% endfor %}
        </ul>
      </div>

      <div class="card">
        <h1 class="card-title">Volunteer Experience</h1>
        <br />

        {% for exp in site.volunteer %}
        <div class="row">
          <ul>
            <li>
              <h4 class="volunteer-title">{{ exp.title }}</h4>
              <em>
                <h6 class="volunteer-info">{{ exp.location_date}}</h6>
              </em>
              <p class="volunteer-desc">{{ exp.description }}</p>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>

      <!-- <div class="card">
        <h1>Coding Activity</h1>
        {%- include coding_activity.html -%}
      </div> -->

    </div>

    <div class="col-lg-4">
      <div class="card">
        <h1 class="card-title">Activities</h1>
        <br />

        {% for exp in site.activities %}
        <div class="row">
          <ul>
            <li>
              <h4 class="activities-title">{{ exp.title }}</h4>
              <em>
                <h6 class="activities-dates">{{ exp.location_date}}</h6>
              </em>
              <p class="activities-desc">{{ exp.description }}</p>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>


    <div class="col-lg-4">
      <div class="card">
        <h1 class="card-title">Education and Test Scores</h1>
        <br />

        <p>
          <b> University High School</b>, Tucson, AZ <em>(August 2018 - May 2022)</em>
          <br>
          Unweighted GPA — 4.0
        </p>

        <br> <br>

        <ul>
          {% for exp in site.education %}
          <li> <b>{{ exp.test_score }}</b> — {{ exp.test_name }} </li>
          {% endfor %}
        </ul>

      </div>


      <div class="card">
        <h1 class="card-title">Awards & Recognitions</h1>
        <br />

        {% for exp in site.awards %}
        <div class="row">
          <ul>
            <li>
              <h4 class="award-title">{{ exp.award_name }}</h4>
              <em>
                <h6 class="award-dates">{{ exp.award_dates}}</h6>
              </em>
              <p class="award-desc">{{ exp.award_description }}</p>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>

    </div>

  </div>
</div>