<p>
    <b> University High School</b>, Tucson, AZ <em>(August 2018 - May 2022)</em>
    <br>
    GPA — 4.0

    <br> <br>

    <ul>
        <li> <b>35</b> — ACT, December 2020 </li>
        <li> <b>5</b> — AP United States History, May 2021 </li>
        <li> <b>5</b> — AP English Language and Composition, May 2021 </li>
        <li> <b>5</b> — AP Computer Science A, May 2020 </li>
        <li> <b>5</b> — AP European History, May 2020 </li>
        <li> <b>5</b> — AP Computer Science Principles, May 2019 </li>
        <li> <b>5</b> — AP Environmental Science, May 2019 </li>
        <li> <b>5</b> — AP Human Geography, May 2019 </li>
    </ul>
</p>