---
layout: default
---


<div class="col-lg-12">
    <div id="author_projects" class="card">
        <h1 class="card-title">Projects</h1>
        <br />
        {% for project in site.projects %}
        <div class="row mt-3">
            <div class="col-sm-6 col-md-6">
                <img src="{{site.url}}{{site.baseurl}}/assets/img/projects/{{project.project_thumbnail}}"
                    class="project-img" />
            </div>
            <div class="col-sm-6 col-md-6">
                <h4 class="experience-title">{{ project.project_title }}</h4>
                <h6 class="experience-info">{{ project.project_info}}</h6>
                <p class="experience-desc">{{ project.project_description }}</p>
                <p>
                    <a class="project-link" href="{{project.project_url}}">{{ project.project_url}}</a>
                </p>
            </div>
        </div>
        <br />
        {% endfor %}
    </div>
</div>